[build]
  command = "npm ci --ignore-scripts && npm rebuild --ignore-scripts && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

